body {
	width: 1000px;
	margin: auto;
	padding-top: 20px;
	/*background 232625
	 *1D2F3E */
	background-color: #31323B; 
	background-size: 100% 1.2em;
	font-family: Verdana, sans-serif;
	font-size: 12px;
}
.head3 {
	font-size: 18px;
	font-weight: bold;
}
.head4 {
	font-size: 16px;
	font-weight: bold;
}
.head5 {
	font-size: 14px;
	font-weight: bold;
}
.bookmark {
	/* size 18 -> 14 */
	font-size: 14px;
	text-shadow: 1px 1px 1px black;
	cursor: pointer;
	/* color black*/
	color: #F0F1F2;
	padding-right: 4px;
}
span.fooright {
	cursor: pointer;
}
#inner {
	margin-left: 10%;
	margin-right: 10%;
}
#mainsite {
	margin-top: 5px;
}
#help {
	margin-top: 5px;
}
.headnav a, a:active, a:visited{
	text-decoration: none;
	color: black;
}

#headw {
	margin-bottom: 5px;
	background: #B5C6D0; 
	/*	background:linear-gradient(top,#B3D929,#647362);*/
	width: 100%;
	height: 22px;
	color: black;
	/* box-shadow: 0 2px 2px 0px #232625;*/
	text-align: center;
	vertical-align: middle;
	font-family: Verdana, sans-serif;
	font-size: 17px;
	border-bottom: 1px solid #AAAAAA;
	border-top: 1px solid #AAAAAA;
}
.headtext {
	height: 22px;
	margin: auto;
	display: inline-block;
	vertical-align: top;
	padding-left: 5px;
	color: black;
}
.headtextmenu {
	height: 22px;
	float: left;
	display: inline-block;
	vertical-align: top;
	padding-left: 5px;
	font-weight: bold;
	cursor: pointer;
	color: black;
}
.list {
	list-style-type:decimal;
}
#mainb {
	margin: auto;
	/* background F0F1F2*/
	background-color: #F0F1F2;
	width: 1000px;
	/*box-shadow: 0px 0px 3px 3px #647362;*/
	border-radius: 20px;
	margin-bottom: 5px;
/*	padding-bottom: 5px;*/
}
#header {
	background: #3b679e; /* Old browsers */
	background: -moz-linear-gradient(top,  #3b679e 0%, #2b88d9 50%, #207cca 51%, #7db9e8 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#3b679e), color-stop(50%,#2b88d9), color-stop(51%,#207cca), color-stop(100%,#7db9e8)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #3b679e 0%,#2b88d9 50%,#207cca 51%,#7db9e8 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #3b679e 0%,#2b88d9 50%,#207cca 51%,#7db9e8 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #3b679e 0%,#2b88d9 50%,#207cca 51%,#7db9e8 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #3b679e 0%,#2b88d9 50%,#207cca 51%,#7db9e8 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#3b679e', endColorstr='#7db9e8',GradientType=0 ); /* IE6-9 */
	/* color B3D929
	background: #CCCCCC;*/
	width: 1000px;
	height: 100px;
	color: white;
	display: table-cell;
	vertical-align: middle;
	padding-right: 50px;
	text-align: right;
	border-top-left-radius: 15px;
	border-top-right-radius: 15px;
	/*box-shadow: 0px 0px 3px 3px #647362;*/
	margin-bottom: 5px;
	font-family: Verdana, sans-serif;
	/*border-bottom: 1px solid #AAAAAA;*/ 
/*	border-bottom: 2px solid #232625;*/
}
#footer {
	/* color 232625*/
	background: #f2f6f8; /* Old browsers */
	background: -moz-linear-gradient(top,  #f2f6f8 0%, #d8e1e7 50%, #b5c6d0 51%, #e0eff9 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#f2f6f8), color-stop(50%,#d8e1e7), color-stop(51%,#b5c6d0), color-stop(100%,#e0eff9)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #f2f6f8 0%,#d8e1e7 50%,#b5c6d0 51%,#e0eff9 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #f2f6f8 0%,#d8e1e7 50%,#b5c6d0 51%,#e0eff9 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #f2f6f8 0%,#d8e1e7 50%,#b5c6d0 51%,#e0eff9 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #f2f6f8 0%,#d8e1e7 50%,#b5c6d0 51%,#e0eff9 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f2f6f8', endColorstr='#e0eff9',GradientType=0 ); /* IE6-9 */
	/*	background:linear-gradient(top,#647362,#232625);*/
	width: 1000px;
	height: 40px;
	margin-top: 13px;
	color: black;
	display: table-cell;
	vertical-align: middle;
	padding-right: 50px;
	text-align: right;
	border-top: 1px solid #AAAAAA;
	/*text-shadow: 1px 1px 1px #232625;*/
	border-bottom-left-radius: 15px;
	border-bottom-right-radius: 15px;
	margin-bottom: 10px;
}
.mentry {
	/*height: 40px; */
	/* size 20 -> 14 */
	font-size: 14px;
	vertical-align: middle;
	display: inline;
	margin: 0px 5px;
	padding: 2px 4px;
	/*text-shadow: 1px 1px 1px black;*/
	/* color button 232625*/
	/*background: #BDBDBD;*/
	background: #f2f6f8; /* Old browsers */
	background: -moz-linear-gradient(top,  #f2f6f8 0%, #d8e1e7 50%, #b5c6d0 51%, #e0eff9 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#f2f6f8), color-stop(50%,#d8e1e7), color-stop(51%,#b5c6d0), color-stop(100%,#e0eff9)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #f2f6f8 0%,#d8e1e7 50%,#b5c6d0 51%,#e0eff9 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #f2f6f8 0%,#d8e1e7 50%,#b5c6d0 51%,#e0eff9 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #f2f6f8 0%,#d8e1e7 50%,#b5c6d0 51%,#e0eff9 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #f2f6f8 0%,#d8e1e7 50%,#b5c6d0 51%,#e0eff9 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f2f6f8', endColorstr='#e0eff9',GradientType=0 ); /* IE6-9 */

	/*box-shadow: 1px 1px 1px #888888;*/
	border: 1px solid #AAAAAA;
	border-radius: 4px;
	cursor: pointer;
}
.mentryactive {
	/*height: 40px; */
	/* size 20 -> 14 */
	font-size: 14px;
	vertical-align: middle;
	display: inline;
	margin: 0px 5px;
	padding: 2px 4px;
	/*text-shadow: 1px 1px 1px black;*/
	/* color button 647362*/
	/*background: #D9D9D9;*/
	background: #e0eff9; /* Old browsers */
	background: -moz-linear-gradient(top,  #e0eff9 0%, #b5c6d0 49%, #d8e1e7 50%, #f2f6f8 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#e0eff9), color-stop(49%,#b5c6d0), color-stop(50%,#d8e1e7), color-stop(100%,#f2f6f8)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #e0eff9 0%,#b5c6d0 49%,#d8e1e7 50%,#f2f6f8 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #e0eff9 0%,#b5c6d0 49%,#d8e1e7 50%,#f2f6f8 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #e0eff9 0%,#b5c6d0 49%,#d8e1e7 50%,#f2f6f8 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #e0eff9 0%,#b5c6d0 49%,#d8e1e7 50%,#f2f6f8 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e0eff9', endColorstr='#f2f6f8',GradientType=0 ); /* IE6-9 */

	/*box-shadow: 1px 1px 1px #888888;*/
	border: 1px solid #636363;
	border-radius: 4px;
	cursor: pointer;
}

.htext {
	font-size: 30px;
	/* color1 232625*/
	font-family: Georgia,serif;
	color: #B5C6D0;
	float: left;
	vertical-align: middle;
	display: inline;
	margin: 0px 5px;
	padding: 0px 4px;
	/* shadow F0F1F2 -> black */
	text-shadow: 2px 2px 2px black;
	
}
.htextadd {
	font-size: 20px;
	font-family: Georgia,serif;
	/* color 232625*/
	color: #F0F1F2;
	float: left;
	display: inline;
	padding-top: 25px;
/*	margin-top: 15px;*/
	/* shadow F0F1F2 -> black */
	text-shadow: 1px 1px 1px black;
}
a.htext:link,a.htext:hover,a.htext:active, a.htext:visited {
	text-decoration: none;
	color: #B5C6D0;
}
a#mhelp:link,a#mhelp:hover,a#mhelp:active,a#mhelp:visited {
	text-decoration: none;
	color: black;
}
#ihome {
	display: inline-block;
	height: 25px;
	padding-left: 25px;
	background: url(../images/home_14px.png) no-repeat;
}
#iupload {
	display: inline-block;
	height: 25px;
	padding-left: 20px;
	background: url(../images/arrow_14px.png) no-repeat;
}
#ihelp {
	display: inline-block;
	height: 25px;
	padding-left: 15px;
	background: url(../images/quest_14px.png) no-repeat;
}
.infopic {
	height: 22px;
	width: 22px;
	background: url(../images/info.png) no-repeat;
	margin: auto;
	display: inline-block;
}
a.mentry:hover,a.mentry:active {
	/* size 20 -> 14 */
	font-size: 14px;
	vertical-align: middle;
	display: inline;
	margin: 0px 5px;
	padding: 2px 4px;
	/*text-shadow: 1px 1px 1px black;*/
	/* background hover #647362*/
	/*background: #D9D9D9;*/
	background: #e0eff9; /* Old browsers */
	background: -moz-linear-gradient(top,  #e0eff9 0%, #b5c6d0 49%, #d8e1e7 50%, #f2f6f8 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#e0eff9), color-stop(49%,#b5c6d0), color-stop(50%,#d8e1e7), color-stop(100%,#f2f6f8)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #e0eff9 0%,#b5c6d0 49%,#d8e1e7 50%,#f2f6f8 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #e0eff9 0%,#b5c6d0 49%,#d8e1e7 50%,#f2f6f8 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #e0eff9 0%,#b5c6d0 49%,#d8e1e7 50%,#f2f6f8 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #e0eff9 0%,#b5c6d0 49%,#d8e1e7 50%,#f2f6f8 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e0eff9', endColorstr='#f2f6f8',GradientType=0 ); /* IE6-9 */
	/*box-shadow: 1px 1px 1px #888888;*/
	border: 1px solid #636363;
	border-radius: 4px;
	cursor: pointer;
}
input[type="string"], textarea {
	background-color: #fff;
	border: 1px solid #c4c4c4;
	padding: 4px 8px;
}
input[type="submit"] {
	background-color: #F9F9F9;
	color: black;
	border: 1px solid #c4c4c4;
	padding: 4px 8px;
}
input[type="submit"]:hover {
  background: #B5C6D0;
  text-shadow: none;
  color: black;
}
input[type="text"], select, textarea {
	padding: 3px;
    background-color: #FAFAFA;
    border: 1px solid #595959;
    border-top-left-radius: 5px;
	border-top-right-radius: 5px;
	border-bottom-left-radius: 5px;
	border-bottom-right-radius: 5px;
}
button {
	background-color: #F9F9F9;
	color: black;
	border: 1px solid #c4c4c4;
	padding: 4px 8px;
}
button.delete {
	background: #F9F9F9;
	text-shadow: none;
	color: #969696;
	border: red 1px solid;
}
button.delete:hover {
	background: #F9F9F9;
	text-shadow: none;
	color: #636363;
	border: red 1px solid;
}
button.confdelete {
	background: #F9F9F9;
	text-shadow: none;
	color: red;
	border: red 1px solid;
}
button.confdelete:hover {
	background: red;
	text-shadow: none;
	color: black;
	border: red 1px solid;
}
button:hover {
  background: #B5C6D0;
  text-shadow: none;
  color: black;
}
input[disabled] {
  background: #F9F9F9;
  text-shadow: none;
  color: #CECECE;
}
input[disabled]:hover {
  background: #F9F9F9;
  text-shadow: none;
  color: #CECECE;
}
button[disabled] {
  background: #F9F9F9;
  text-shadow: none;
  color: #CECECE;
}
button[disabled]:hover {
  background: #F9F9F9;
  text-shadow: none;
  color: #CECECE;
}
#container {
	width: 100%;
	height: 600px;
	cursor: default;
	background: #F0F1F2;
}
.black {
	background: black;
}
.title{
	margin: auto;
	background-color: #848484;
	color: white;
}
#wrapper {
margin: 0 auto;
position:relative;
}
.tooltip {
	left: 0px;
	right: 0px;
	display: none;
	position: absolute;
	/*box-shadow: 2px 2px 1px rgba(0,0,0,0.9);*/
	border-radius: 4px;
	background: #B5C6D0;
	border: 1px solid #888888;
	/*rgba(179,217,41,0.8);*/
	color: black; 
	/*text-shadow: 1px 1px 1px #D2D9B8;*/
	width: 300px;
	padding-left: 5px;
	padding-right: 5px;
}
.scroll {
	max-height: 600px;
	overflow: auto;
}
.bottom {
	height: 10px;
	margin-bottom: 10px;
	border-bottom: 10px double #363636;
	border-bottom-right-radius: 2px; 
	border-bottom-left-radius: 2px;
}
