<div id="adialog" title="About">
	This Web-application was developed by Jens Rauch and Bianca Regenbogen at the University of Tuebingen as a project for the lecture Bioinformatics I.<br><br>
	
	Feel free to report bugs by contacting us or by visiting the GIT repository:<br>
	GIT repository located at <a href="https://bitbucket.org/waterstorm/hmm-viewer/" target="_blank">Bitbucket.org</a><br>
	Contact Jens Rauch: Jens.Rauch[at]uni-konstanz.de <br>
	Contact Bianca Regenbogen: Bianca.Regenbogen[at]student.uni-tuebingen.de <br><br>

	HMM Viewer, a new way of visualizing profile Hidden Markov Models.<br>
	Copyright (C) 2013 Jens Rauch and Bianca Regenbogen<br><br>
	
	This program is free software: you can redistribute it and/or modify<br>
	it under the terms of the GNU General Public License as published by<br>
	the Free Software Foundation, either version 3 of the License, or<br>
	(at your option) any later version.<br><br>
	
	This program is distributed in the hope that it will be useful,<br>
	but WITHOUT ANY WARRANTY; without even the implied warranty of<br>
	MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the<br>
	GNU General Public License for more details.<br><br>
	
	You should have received a copy of the GNU General Public License<br>
	along with this program. If not, see http://www.gnu.org/licenses.<br>
</div>